In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("group_data.csv")

In [6]:
data.head(20)

,Unnamed: 0,opdb_id,is_machine_group,name,shortname,description,created_at,updated_at
0,0,G5pe4,True,Medieval Madness,MM,NaN,2018-03-12,2018-03-12
1,1,G4do5,True,Attack from Mars,AFM,NaN,2018-03-12,2018-03-12
2,2,GrEZ5,True,El Dorado,NaN,NaN,2018-03-12,2018-03-12
3,3,GRoz4,True,Batman 66,B66,NaN,2018-03-12,2018-03-12
4,4,G41d5,True,Game of Thrones,GOT,NaN,2018-03-13,2018-03-13
5,5,G5WBr,True,The Big Lebowski,TBL,NaN,2018-03-13,2018-03-13
6,6,G5nz5,True,The Walking Dead,TWD,NaN,2018-03-13,2018-03-13
7,7,G4jXr,True,KISS,KISS,NaN,2018-03-13,2018-03-13
8,8,G4qX5,True,KISS,KISS,NaN,2018-03-13,2018-03-13
9,9,GR9Nr,True,Ghostbusters,GB,NaN,2018-03-13,2018-03-13
10,10,Gryw4,True,Star Trek,ST,NaN,2018-03-13,2018-03-13
11,11,GrPOR,True,Mustang,NaN,NaN,2018-03-13,2018-03-13
12,12,GRVq4,True,Iron Man,IM,NaN,2018-03-13,2018-03-13
13,13,G4835,True,Cactus Canyon,CC,NaN,2018-03-13,2018-03-13
14,14,G43W4,True,AC/DC,ACDC,NaN,2018-03-14,2018-03-14
15,15,GRw0r,True,Earthshaker,ES,NaN,2018-03-14,2018-03-14
16,16,GRBE4,True,Metallica,MET,NaN,2018-03-14,2018-03-14
17,17,G4xyR,True,The Wizard of Oz,WOZ,NaN,2018-03-14,2018-03-14
18,18,G5vLR,True,Star Wars,SW,NaN,2018-03-16,2018-03-16
19,19,G420r,True,Star Wars,SWDE,NaN,2018-03-16,2018-03-16

In [7]:
data = data.drop('Unnamed: 0', axis = 1)

In [21]:
set((data['opdb_id']).apply(len))

{5}

In [16]:
data = data.rename(columns = {"name":"group_name", "shortname": "group_shortname"})

In [17]:
data.head(30)

,opdb_id,is_machine_group,group_name,group_shortname,description,created_at,updated_at
0,G5pe4,True,Medieval Madness,MM,NaN,2018-03-12,2018-03-12
1,G4do5,True,Attack from Mars,AFM,NaN,2018-03-12,2018-03-12
2,GrEZ5,True,El Dorado,NaN,NaN,2018-03-12,2018-03-12
3,GRoz4,True,Batman 66,B66,NaN,2018-03-12,2018-03-12
4,G41d5,True,Game of Thrones,GOT,NaN,2018-03-13,2018-03-13
5,G5WBr,True,The Big Lebowski,TBL,NaN,2018-03-13,2018-03-13
6,G5nz5,True,The Walking Dead,TWD,NaN,2018-03-13,2018-03-13
7,G4jXr,True,KISS,KISS,NaN,2018-03-13,2018-03-13
8,G4qX5,True,KISS,KISS,NaN,2018-03-13,2018-03-13
9,GR9Nr,True,Ghostbusters,GB,NaN,2018-03-13,2018-03-13
10,Gryw4,True,Star Trek,ST,NaN,2018-03-13,2018-03-13
11,GrPOR,True,Mustang,NaN,NaN,2018-03-13,2018-03-13
12,GRVq4,True,Iron Man,IM,NaN,2018-03-13,2018-03-13
13,G4835,True,Cactus Canyon,CC,NaN,2018-03-13,2018-03-13
14,G43W4,True,AC/DC,ACDC,NaN,2018-03-14,2018-03-14
15,GRw0r,True,Earthshaker,ES,NaN,2018-03-14,2018-03-14
16,GRBE4,True,Metallica,MET,NaN,2018-03-14,2018-03-14
17,G4xyR,True,The Wizard of Oz,WOZ,NaN,2018-03-14,2018-03-14
18,G5vLR,True,Star Wars,SW,NaN,2018-03-16,2018-03-16
19,G420r,True,Star Wars,SWDE,NaN,2018-03-16,2018-03-16
20,GR6Or,True,WrestleMania,WWE,NaN,2018-03-16,2018-03-16
21,GrNnr,True,Jungle Queen/Princess,NaN,NaN,2018-03-16,2018-03-16
22,GRL9r,True,Star Wars Episode I,SWE1,NaN,2018-03-16,2018-03-16
23,G4JZ4,True,High Roller Casino,HRC,NaN,2018-03-16,2018-03-16
24,G50Wr,True,Revenge From Mars,RFM,NaN,2018-03-16,2018-03-16
25,G57X4,True,No Good Gofers,NGG,NaN,2018-03-16,2018-03-16
26,G5bYr,True,The Hobbit,TH,NaN,2018-03-17,2018-03-17
27,GrXlr,True,Spider-Man,SM,NaN,2018-03-17,2018-03-17
28,G5D94,True,Spider-Man,SM,NaN,2018-03-17,2018-03-17
29,GRYX4,True,Whoa Nellie / PBR,NaN,NaN,2018-03-17,2018-03-17

In [22]:
data.shape

(1549, 7)

In [23]:
data.to_csv("cln_group.csv")